<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdt.finalproject.mapper.AdminMapper">

<!-- select -->
<!--전체 회원 리스트-->
<select id="member" resultType="com.kdt.finalproject.vo.MemVO" parameterType="Map">
SELECT * FROM (
  SELECT @RN:=@RN+1 as r_num,a.* FROM(
    SELECT * FROM charging.member_t
      <where>
          <if test="m_class != null">
            <choose>
              <when test="m_class == 0">
                m_class = 0
              </when>
              <when test="m_class == 1">
                m_class = 1
              </when>
              <when test="m_class == 2">
                m_class = 2
              </when>
              <when test="m_class == 3">
                (m_class = 0 OR m_class = 1 OR m_class = 2)
              </when>
            </choose>
          </if>
          <if test="searchType != null and searchValue != null">
              <choose>
                  <when test="searchType == 0">
                      AND m_name LIKE concat('%',#{searchValue},'%')
                  </when>
                  <when test="searchType == 1">
                      AND m_email LIKE concat('%',#{searchValue},'%')
                  </when>
                  <when test="searchType == 2">
                      AND m_phone LIKE concat('%',#{searchValue},'%')
                  </when>
              </choose>
          </if>
      </where>
    ORDER BY m_idx DESC
  ) a, (SELECT @RN:=0) as r
) a WHERE a.r_num BETWEEN #{begin} AND #{end}
</select>

<select id="member_count" parameterType="Map" resultType="int">
SELECT COUNT(*) FROM charging.member_t
<where>
  <if test="m_class != null">
    <choose>
      <when test="m_class == 0">
        m_class = 0
      </when>
      <when test="m_class == 1">
        m_class = 1
      </when>
      <when test="m_class == 2">
        m_class = 2
      </when>
      <when test="m_class == 3">
        (m_class = 0 OR m_class = 1 OR m_class = 2)
      </when>
    </choose>
  </if>
  <if test="searchType != null and searchValue != null">
    <choose>
      <when test="searchType == 0">
          AND m_name LIKE concat('%',#{searchValue},'%')
      </when>
      <when test="searchType == 1">
          AND m_email LIKE concat('%',#{searchValue},'%')
      </when>
      <when test="searchType == 2">
          AND m_phone LIKE concat('%',#{searchValue},'%')
      </when>
    </choose>
  </if>
</where>
</select>
<!--전체 회원 리스트-->

<!--회원 정보 상세보기-->
<select id="member_view" parameterType="String" resultMap="member_map">
SELECT * FROM charging.member_t
WHERE m_idx = #{m_idx}
</select>

<resultMap id="member_map" type="com.kdt.finalproject.vo.MemVO">
  <id property="m_idx" column="m_idx"/>
  <collection property="sw_list" ofType="com.kdt.finalproject.vo.SwriteVO" select="member_view2" column="m_idx"/>
</resultMap>

<select id="member_view2" parameterType="String" resultMap="member_map2">
  SELECT * FROM charging.service_write
  WHERE m_idx = #{m_idx}
</select>

<resultMap id="member_map2" type="com.kdt.finalproject.vo.SwriteVO">
  <id property="sw_idx" column="sw_idx"/>
  <association property="svo" javaType="com.kdt.finalproject.vo.ServiceVO" select="member_view3" column="s_idx"/>
</resultMap>

<select id="member_view3" parameterType="String" resultType="com.kdt.finalproject.vo.ServiceVO">
 SELECT * FROM charging.service_t
 WHERE s_idx = #{s_idx}
</select>


<!--공지사항 리스트-->
<select id="notice_all" resultMap="map1" parameterType="map">
SELECT * FROM (
  SELECT @RN:=@RN+1 as r_num,a.* FROM(
    SELECT * FROM charging.bbs_t 
    WHERE b_status = 0
      <if test="category == null">
        AND (b_type = 0 OR b_type = 4)
      </if>
      <if test="category != null">
        <choose>
          <when test="category == 0">
           AND b_type = 0 AND b_to = 0
          </when>
          <when test="category == 1">
           AND b_type = 0 AND b_to = 1
          </when>
          <when test="category == 2">
           AND b_type = 4
          </when>
          <when test="category == 3">
           AND (b_type = 0 OR b_type = 4)
          </when>
        </choose>
      </if>
      <if test="searchType != null and searchValue != null">
        <choose>
          <when test="searchType == 0">
              AND b_title LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 1">
              AND b_content LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 2">
              AND (b_content LIKE concat('%',#{searchValue},'%') OR b_title LIKE concat('%',#{searchValue},'%'))
          </when>
        </choose>
      </if>
    ORDER BY b_idx DESC
  ) a, (SELECT @RN:=0) as r
) a WHERE a.r_num BETWEEN #{begin} AND #{end}
</select>

<resultMap type="com.kdt.finalproject.vo.BbsVO" id="map1">
  <id property="b_idx" column="b_idx"/>
  <association property="bbslog" javaType="com.kdt.finalproject.vo.BbslogVO" select="notice_log" column="b_idx"/>
</resultMap>

<select id="notice_log" parameterType="String" resultType="com.kdt.finalproject.vo.BbslogVO">
SELECT * FROM charging.bbslog
WHERE b_idx = #{b_idx} AND bl_type = 0
</select>

<!-- (Paging) 공지사항 총 갯수 -->
<select id="notice_count" parameterType="Map" resultType="int">
SELECT COUNT(*) FROM charging.bbs_t
    WHERE b_status = 0
      <if test="category == null">
        AND (b_type = 0 OR b_type = 4)
      </if>
      <if test="category != null">
        <choose>
          <when test="category == 0">
           AND b_type = 0 AND b_to = 0
          </when>
          <when test="category == 1">
           AND b_type = 0 AND b_to = 1
          </when>
          <when test="category == 2">
           AND b_type = 4
          </when>
          <when test="category == 3">
           AND (b_type = 0 OR b_type = 4)
          </when>
        </choose>
      </if>
      <if test="searchType != null and searchValue != null">
        <choose>
          <when test="searchType == 0">
              AND b_title LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 1">
              AND b_content LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 2">
              AND (b_content LIKE concat('%',#{searchValue},'%') OR b_title LIKE concat('%',#{searchValue},'%'))
          </when>
        </choose>
      </if>
</select>
<!--공지사항 리스트-->




<!-- 공지 상세 보기 -->
<resultMap id="notice_view_map" type="com.kdt.finalproject.vo.BbsVO">
  <id property="b_idx" column="b_idx"/>
  <association property="bbslog" javaType="com.kdt.finalproject.vo.BbslogVO" select="notice_view_log" column="b_idx"/>
</resultMap>

<select id="notice_view" parameterType="String" resultMap="notice_view_map">
SELECT * FROM charging.bbs_t
WHERE b_idx = #{b_idx}
</select>

<select id="notice_view_log" parameterType="String" resultType="com.kdt.finalproject.vo.BbslogVO">
SELECT * FROM charging.bbslog
WHERE b_idx = #{b_idx} AND bl_type = 0
</select>
<!-- 공지 상세 보기 -->


<!--문의 리스트-->
<select id="qna" parameterType="Map" resultMap="qna_map">
SELECT * FROM (
  SELECT @RN:=@RN+1 as r_num,a.* FROM(
    SELECT * FROM charging.bbs_t 
    WHERE (b_status = 0 AND b_type = 2)
      <if test="searchType != null and searchValue != null">
        <choose>
          <when test="searchType == 0">
              AND b_title LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 1">
              AND b_content LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 2">
            AND (b_content LIKE concat('%',#{searchValue},'%') OR b_title LIKE concat('%',#{searchValue},'%'))
          </when>
          <when test="searchType == 3">
            AND b_idx IN(
              select b_idx from bbslog where bl_type = 0 and m_idx IN(
                SELECT m_idx from member_t where m_name LIKE concat('%',#{searchValue},'%'))
            )
          </when>
          <when test="searchType == 9">
            AND b_idx IN(
              select b_idx from bbslog where bl_type = 0 and m_idx= #{searchValue}
            )
          </when>
        </choose>
      </if>
    ORDER BY b_idx DESC
  ) a, (SELECT @RN:=0) as r
) a WHERE a.r_num BETWEEN #{begin} AND #{end}
</select>

<resultMap type="com.kdt.finalproject.vo.BbsVO" id="qna_map">
  <id property="b_idx" column="b_idx"/>
  <association property="bbslog" javaType="com.kdt.finalproject.vo.BbslogVO" select="qna_log1" column="b_idx"/>
  <collection property="c_list" ofType="com.kdt.finalproject.vo.BbsVO" select="qna_comm_count" column="b_idx"/>
</resultMap>

<select id="qna_log1" parameterType="String" resultMap="qna_map2">
SELECT * FROM charging.bbslog
WHERE b_idx = #{b_idx} AND bl_type = 0
</select>

<select id="qna_comm_count" parameterType="String" resultType="com.kdt.finalproject.vo.BbsVO">
  SELECT * FROM charging.bbs_t 
  where
  b_status = 0 AND b_target = #{idx}
</select>

<resultMap type="com.kdt.finalproject.vo.BbslogVO" id="qna_map2">
  <id property="m_idx" column="m_idx"/>
  <association property="mvo" javaType="com.kdt.finalproject.vo.MemVO" select="qna_log2" column="m_idx"/>
</resultMap>

<select id="qna_log2" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t
WHERE m_idx = #{m_idx}
</select>

<select id="qna_count" resultType="int">
SELECT COUNT(*) FROM charging.bbs_t 
  WHERE (b_status = 0 AND b_type = 2)
    <if test="searchType != null and searchValue != null">
        <choose>
          <when test="searchType == 0">
              AND b_title LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 1">
              AND b_content LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 2">
            AND (b_content LIKE concat('%',#{searchValue},'%') OR b_title LIKE concat('%',#{searchValue},'%'))
          </when>
          <when test="searchType == 3">
            AND b_idx IN(
              select b_idx from bbslog where bl_type = 0 and m_idx IN(
                SELECT m_idx from member_t where m_name LIKE concat('%',#{searchValue},'%'))
            )
          </when>
          <when test="searchType == 9">
            AND b_idx IN(
              select b_idx from bbslog where bl_type = 0 and m_idx= #{searchValue}
            )
          </when>
        </choose>
      </if>
</select>
<!--문의 리스트-->


<!-- 문의 상세보기 -->
<resultMap id="qna_view_map" type="com.kdt.finalproject.vo.BbsVO">
  <id property="b_idx" column="b_idx"/>
  <association property="bbslog" javaType="com.kdt.finalproject.vo.BbslogVO" select="qna_view_log" column="b_idx"/>
</resultMap>

<resultMap id="qna_view_map2" type="com.kdt.finalproject.vo.BbslogVO">
  <id property="m_idx" column="m_idx"/>
  <association property="mvo" javaType="com.kdt.finalproject.vo.MemVO" select="qna_view_log2" column="m_idx"/>
</resultMap>

<select id="qna_view" parameterType="String" resultMap="qna_view_map">
SELECT * FROM charging.bbs_t
WHERE b_idx = #{b_idx}
</select>

<select id="qna_view_log" parameterType="String" resultMap="qna_view_map2">
SELECT * FROM charging.bbslog
WHERE b_idx = #{b_idx} AND bl_type = 0
</select>

<select id="qna_view_log2" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t
WHERE m_idx = #{m_idx}
</select>
<!-- 문의 상세보기 -->


<!-- 댓글 보기 -->
<resultMap id="comm_map" type="com.kdt.finalproject.vo.BbsVO">
  <id property="b_idx" column="b_idx"/>
  <association property="bbslog" javaType="com.kdt.finalproject.vo.BbslogVO" select="comm_log" column="b_idx"/>
</resultMap>

<resultMap id="comm_map2" type="com.kdt.finalproject.vo.BbslogVO">
  <id property="m_idx" column="m_idx"/>
  <association property="mvo" javaType="com.kdt.finalproject.vo.MemVO" select="comm_log2" column="m_idx"/>
</resultMap>

<select id="qna_comm" parameterType="String" resultMap="comm_map">
SELECT * FROM charging.bbs_t 
WHERE b_target = #{b_idx} AND b_status = 0
</select>

<select id="comm_log" parameterType="String" resultMap="comm_map2">
SELECT * FROM charging.bbslog
WHERE b_idx = #{b_idx} AND bl_type = 0
</select>

<select id="comm_log2" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t
WHERE m_idx = #{m_idx}
</select>
<!-- 댓글 보기 -->


<select id="member_qna_count" parameterType="String" resultType="int">
SELECT COUNT(*) FROM charging.bbs_t 
WHERE b_status = 0 AND b_type = 2 AND b_idx IN(select b_idx from bbslog where bl_type = 0 and m_idx = #{m_idx})
</select>

<select id="admin_login" parameterType="com.kdt.finalproject.vo.MemVO" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t
WHERE m_email = #{m_email} AND m_pw = #{m_pw} AND m_class = 2
</select>


<select id="home_mem_count" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t
WHERE m_status = 0
</select>


<!--리뷰 리스트-->
<select id="review" parameterType="Map" resultMap="review_map">
SELECT * FROM (
  SELECT @RN:=@RN+1 as r_num,a.* FROM(
    SELECT * FROM charging.bbs_t 
    WHERE (b_status = 0 AND b_type = 1)
      <if test="searchType != null and searchValue != null">
        <choose>
          <when test="searchType == 1">
              AND b_content LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 2">
            AND b_val2 IN
            (SELECT su_idx FROM charging.service_use WHERE s_idx IN 
              (SELECT s_idx FROM service_t WHERE s_idx IN 
                (SELECT s_idx FROM service_write WHERE m_idx IN 
                  (SELECT m_idx FROM member_t WHERE m_name LIKE concat('%',#{searchValue},'%')))))
          </when>
          <when test="searchType == 3">
            AND b_idx IN(
              select b_idx from bbslog where bl_type = 0 and m_idx IN(
                SELECT m_idx from member_t where m_name LIKE concat('%',#{searchValue},'%'))
            )
          </when>
          <when test="searchType == 8">
            AND b_idx IN(
              select b_idx from bbslog where bl_type = 0 and m_idx = #{searchValue}
            )
            </when>
          <when test="searchType == 9">
            AND b_val2 IN
            (SELECT su_idx FROM charging.service_use WHERE s_idx IN 
              (SELECT s_idx FROM service_t WHERE s_idx IN 
                (SELECT s_idx FROM service_write WHERE m_idx IN 
                  (SELECT m_idx FROM member_t WHERE m_idx = #{searchValue}))))
            </when>
        </choose>
      </if>
    ORDER BY b_idx DESC
  ) a, (SELECT @RN:=0) as r
) a WHERE a.r_num BETWEEN #{begin} AND #{end}
</select>

<resultMap type="com.kdt.finalproject.vo.BbsVO" id="review_map">
  <id property="b_idx" column="b_idx"/>
  <association property="bbslog" javaType="com.kdt.finalproject.vo.BbslogVO" select="review_log1" column="b_idx"/>
  <association property="suvo" javaType="com.kdt.finalproject.vo.SuseVO" select="review_log3" column="b_val2"/>
</resultMap>

<select id="review_log1" parameterType="String" resultMap="review_map2">
SELECT * FROM charging.bbslog
WHERE b_idx = #{b_idx} AND bl_type = 0
</select>

<resultMap type="com.kdt.finalproject.vo.BbslogVO" id="review_map2">
  <id property="m_idx" column="m_idx"/>
  <association property="mvo" javaType="com.kdt.finalproject.vo.MemVO" select="review_log2" column="m_idx"/>
</resultMap>

<select id="review_log2" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t
WHERE m_idx = #{m_idx}
</select>

<select id="review_log3" parameterType="String" resultMap="review_map3">
SELECT * FROM charging.service_use
WHERE su_idx = #{b_val2} AND su_val2 = 0
</select>

<resultMap type="com.kdt.finalproject.vo.SuseVO" id="review_map3">
  <id property="su_idx" column="su_idx"/>
  <association property="cwvo" javaType="com.kdt.finalproject.vo.CwriteVO" select="car_log2" column="c_idx"/>
  <association property="svo" javaType="com.kdt.finalproject.vo.ServiceVO" select="review_log4" column="s_idx"/>
</resultMap>

<select id="review_log4" parameterType="String" resultMap="review_map4">
SELECT * FROM charging.service_t
WHERE s_idx = #{s_idx}
</select>

<resultMap type="com.kdt.finalproject.vo.ServiceVO" id="review_map4">
  <id property="s_idx" column="s_idx"/>
  <association property="swvo" javaType="com.kdt.finalproject.vo.SwriteVO" select="review_log5" column="s_idx"/>
</resultMap>

<select id="review_log5" parameterType="String" resultMap="review_map5">
SELECT * FROM charging.service_write
WHERE s_idx = #{s_idx}
</select>

<resultMap type="com.kdt.finalproject.vo.SwriteVO" id="review_map5">
  <id property="sw_idx" column="sw_idx"/>
  <association property="mvo" javaType="com.kdt.finalproject.vo.MemVO" select="review_log6" column="m_idx"/>
</resultMap>

<select id="review_log6" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t
WHERE m_idx = #{m_idx}
</select>

<select id="review_count" resultType="int">
SELECT COUNT(*) FROM charging.bbs_t 
  WHERE (b_status = 0 AND b_type = 1)
    <if test="searchType != null and searchValue != null">
        <choose>
          <when test="searchType == 1">
              AND b_content LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 2">
            AND b_val2 IN
            (SELECT su_idx FROM charging.service_use WHERE s_idx IN 
              (SELECT s_idx FROM service_t WHERE s_idx IN 
                (SELECT s_idx FROM service_write WHERE m_idx IN 
                  (SELECT m_idx FROM member_t WHERE m_name LIKE concat('%',#{searchValue},'%')))))
          </when>
          <when test="searchType == 3">
            AND b_idx IN(
              select b_idx from bbslog where bl_type = 0 and m_idx IN(
                SELECT m_idx from member_t where m_name LIKE concat('%',#{searchValue},'%'))
            )
          </when>
          <when test="searchType == 8">
            AND b_idx IN(
              select b_idx from bbslog where bl_type = 0 and m_idx = #{searchValue}
            )
            </when>
          <when test="searchType == 9">
            AND b_val2 IN
            (SELECT su_idx FROM charging.service_use WHERE s_idx IN 
              (SELECT s_idx FROM service_t WHERE s_idx IN 
                (SELECT s_idx FROM service_write WHERE m_idx IN 
                  (SELECT m_idx FROM member_t WHERE m_idx = #{searchValue}))))
            </when>
        </choose>
      </if>
</select>
<!--리뷰 리스트-->

<!--서비스 리스트-->
<select id="car" parameterType="Map" resultMap="car_map">
SELECT * FROM (
  SELECT @RN:=@RN+1 as r_num,a.* FROM(
    SELECT * FROM charging.service_use
    WHERE su_val2 = 0
      <if test="search_date != null">
        AND su_date LIKE CONCAT (#{search_date},'%')
      </if>
      <if test="searchType != null and searchValue != null">
        <choose>
          <when test="searchType == 1">
            AND c_idx IN(
              select c_idx from car_write WHERE m_idx IN(
                SELECT m_idx from member_t where m_name LIKE concat('%',#{searchValue},'%')))
          </when>
          <when test="searchType == 8">
            AND c_idx IN(
              select c_idx from car_write WHERE m_idx = #{searchValue})
          </when>
          <when test="searchType == 9">
            AND s_idx IN 
              (SELECT s_idx FROM service_t WHERE s_idx IN 
                (SELECT s_idx FROM service_write WHERE m_idx = ${searchValue}))
          </when>
        </choose>
      </if>
    ORDER BY su_idx DESC
  ) a, (SELECT @RN:=0) as r
) a WHERE a.r_num BETWEEN #{begin} AND #{end}
</select>

<resultMap type="com.kdt.finalproject.vo.SuseVO" id="car_map">
  <id property="su_idx" column="su_idx"/>
  <association property="svo" javaType="com.kdt.finalproject.vo.ServiceVO" select="car_log1" column="s_idx"/>
  <association property="cwvo" javaType="com.kdt.finalproject.vo.CwriteVO" select="car_log2" column="c_idx"/>
</resultMap>

<select id="car_log1" parameterType="String" resultType="com.kdt.finalproject.vo.ServiceVO">
SELECT * FROM charging.service_t
WHERE s_idx = #{s_idx}
</select>

<select id="car_log2" parameterType="String" resultMap="car_map3">
SELECT * FROM charging.car_write
WHERE c_idx = #{c_idx} AND cw_type=0
</select>

<resultMap type="com.kdt.finalproject.vo.CwriteVO" id="car_map3">
  <id property="cw_idx" column="cw_idx"/>
  <association property="mvo" javaType="com.kdt.finalproject.vo.MemVO" select="car_log3" column="m_idx"/>
</resultMap>

<select id="car_log3" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t
WHERE m_idx = #{m_idx}
</select>


<select id="car_count" resultType="int" parameterType="Map">
SELECT COUNT(*) FROM charging.service_use
  WHERE su_val2 = 0
    <if test="search_date != null">
        AND su_date LIKE CONCAT (#{search_date},'%')
      </if>
      <if test="searchType != null and searchValue != null">
        <choose>
          <when test="searchType == 1">
            AND c_idx IN(
              select c_idx from car_write WHERE m_idx IN(
                SELECT m_idx from member_t where m_name LIKE concat('%',#{searchValue},'%')))
          </when>
          <when test="searchType == 8">
            AND c_idx IN(
              select c_idx from car_write WHERE m_idx = #{searchValue})
          </when>
          <when test="searchType == 9">
            AND s_idx IN 
              (SELECT s_idx FROM service_t WHERE s_idx IN 
                (SELECT s_idx FROM service_write WHERE m_idx = ${searchValue}))
          </when>
        </choose>
      </if>
</select>
<!--서비스 리스트-->



<!--서비스 상세보기-->
<select id="car_vo" parameterType="String" resultMap="car_vo_map">
  SELECT * FROM charging.service_use
  WHERE su_idx = #{su_idx}
</select>

<resultMap id="car_vo_map" type="com.kdt.finalproject.vo.SuseVO">
  <id property="su_idx" column="su_idx"/>
  <result column="s_idx" property="s_idx"/>
  <association property="svo" javaType="com.kdt.finalproject.vo.ServiceVO" select="car_vo2" column="s_idx"/>
</resultMap>

<select id="car_vo2" parameterType="String" resultType="com.kdt.finalproject.vo.ServiceVO">
  SELECT * FROM service_t
  WHERE s_idx = #{s_idx}
</select>
<!--서비스 상세보기-->



<select id="car_view" parameterType="String" resultMap="car_view_map">
  SELECT * FROM charging.service_use
  WHERE su_val5 = #{su_val5}
</select>

<resultMap id="car_view_map" type="com.kdt.finalproject.vo.SuseVO">
  <id property="su_idx" column="su_idx"/>
  <association property="svo" javaType="com.kdt.finalproject.vo.ServiceVO" select="car_view2" column="s_idx"/>
  <association property="cvo" javaType="com.kdt.finalproject.vo.CarVO" select="car_view5" column="c_idx"/>
</resultMap>

<select id="car_view2" parameterType="String" resultMap="car_view_map2">
  SELECT * FROM service_t
  WHERE s_idx = #{s_idx}
</select>

<resultMap id="car_view_map2" type="com.kdt.finalproject.vo.ServiceVO">
  <id property="s_idx" column="s_idx"/>
  <association property="swvo" javaType="com.kdt.finalproject.vo.SwriteVO" select="car_view3" column="s_idx"/>
</resultMap>

<select id="car_view3" parameterType="String" resultMap="car_view_map3">
  SELECT * FROM service_write
  WHERE s_idx = #{s_idx}
</select>

<resultMap id="car_view_map3" type="com.kdt.finalproject.vo.SwriteVO">
  <id property="sw_idx" column="sw_idx"/>
  <association property="mvo" javaType="com.kdt.finalproject.vo.MemVO" select="car_view4" column="m_idx"/>
</resultMap>

<select id="car_view4" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
  SELECT * FROM member_t
  WHERE m_idx = #{m_idx}
</select>

<select id="car_view5" parameterType="String" resultMap="car_view_map4">
  SELECT * FROM car_t
  WHERE c_idx = #{c_idx}
</select>

<resultMap id="car_view_map4" type="com.kdt.finalproject.vo.CarVO">
  <id property="c_idx" column="c_idx"/>
  <association property="cwvo" javaType="com.kdt.finalproject.vo.CwriteVO" select="car_view6" column="c_idx"/>
</resultMap>

<select id="car_view6" parameterType="String" resultMap="car_view_map5">
  SELECT * FROM car_write
  WHERE c_idx = #{c_idx} AND cw_type = 0
</select>

<resultMap id="car_view_map5" type="com.kdt.finalproject.vo.CwriteVO">
  <id property="cw_idx" column="cw_idx"/>
  <association property="mvo" javaType="com.kdt.finalproject.vo.MemVO" select="car_view7" column="m_idx"/>
</resultMap>

<select id="car_view7" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
  SELECT * FROM member_t
  WHERE m_idx = #{m_idx}
</select>




<!--서비스 상세보기-->


<!--매출-->
<select id="service_sales" parameterType="String" resultMap="sales_map">
SELECT * FROM charging.service_use
WHERE su_date LIKE CONCAT (#{search_date},'%') AND su_status = 7
</select>

<resultMap type="com.kdt.finalproject.vo.SuseVO" id="sales_map">
  <id property="su_idx" column="su_idx"/>
  <association property="svo" javaType="com.kdt.finalproject.vo.ServiceVO" select="sales_log" column="s_idx"/>
</resultMap>

<select id="sales_log" parameterType="String" resultType="com.kdt.finalproject.vo.ServiceVO">
SELECT * FROM charging.service_t
WHERE s_idx = #{s_idx}
</select>


<!--회원 상세 리뷰-->
<!-- <select id="member_review" parameterType="String" resultType="com.kdt.finalproject.vo.BbsVO">
SELECT * FROM charging.bbs_t WHERE b_val2 IN
	(SELECT su_idx FROM charging.service_use WHERE s_idx IN 
		(SELECT s_idx FROM service_t WHERE s_idx IN 
			(SELECT s_idx FROM service_write WHERE m_idx IN 
				(SELECT m_idx FROM member_t WHERE m_idx = #{m_idx}))));
</select> -->

<!-- insert -->

<!-- 공지 작성 -->
<insert id="notice_write_ok" parameterType="Map" useGeneratedKeys="true" keyProperty="b_idx" keyColumn="b_idx">
INSERT INTO charging.bbs_t(b_title, b_content, b_type, b_status, b_to, b_hit, b_ip, b_oriname, b_filename, b_val1)
VALUES(#{b_title}, #{b_content}, #{b_type}, 0, #{b_to}, 0, #{b_ip}, #{b_oriname}, #{b_filename},0)
</insert>

<!-- 공지 작성 (로그)-->
<insert id="notice_write_ok2" parameterType="Map">
INSERT INTO charging.bbslog(m_idx, b_idx, bl_date, bl_type)
VALUES(#{m_idx}, #{b_idx}, NOW(), 0)
</insert>


<!--문의 댓글 작성-->
<insert id="qna_comm_write" parameterType="com.kdt.finalproject.vo.BbsVO" useGeneratedKeys="true" keyProperty="b_idx" keyColumn="b_idx">
INSERT INTO charging.bbs_t(b_title, b_content, b_target, b_type, b_status, b_ip, b_hit)
VALUES(0, #{b_content}, #{b_target}, 3, 0, #{b_ip}, 0)
</insert>

<!-- 문의 댓글 작성 (로그)-->
<insert id="qna_comm_write2" parameterType="com.kdt.finalproject.vo.BbslogVO">
INSERT INTO charging.bbslog(m_idx, b_idx, bl_date, bl_type)
VALUES(#{m_idx}, #{b_idx}, NOW(), 0)
</insert>

<!-- update -->

<!-- 공지 수정-->
<update id="notice_edit" parameterType="com.kdt.finalproject.vo.BbsVO">
UPDATE charging.bbs_t
  <trim prefix="SET" suffixOverrides=",">
    b_title = #{b_title},
    b_content = #{b_content},	
    b_type = #{b_type},	
    b_to = #{b_to},	
    b_ip = #{b_ip},	
      <if test="b_filename != null">
        b_filename = #{b_filename},
        b_oriname = #{b_oriname}
      </if>
  </trim>
WHERE b_idx = #{b_idx}
</update>

<!-- 공지 수정 (로그)-->
<insert id="notice_edit2" parameterType="com.kdt.finalproject.vo.BbslogVO">
INSERT INTO charging.bbslog(m_idx, b_idx, bl_date, bl_type)
VALUES(#{m_idx}, #{b_idx}, NOW(), 1)
</insert>


<!--공지 비공개 변경-->
<update id="notice_changeStatus1" parameterType="String">
UPDATE charging.bbs_t
SET b_val1 = 1
WHERE b_idx = #{b_idx}
</update>

<!--공지 공개 변경-->
<update id="notice_changeStatus0" parameterType="String">
UPDATE charging.bbs_t
SET b_val1 = 0
WHERE b_idx = #{b_idx}
</update>


<!--문의 공개 변경-->
<update id="qna_change" parameterType="Map">
UPDATE charging.bbs_t
SET b_val1 = #{b_val1}
WHERE b_idx = #{b_idx}
</update>


<!--회원 탈퇴-->
<update id="member_out" parameterType="String">
UPDATE charging.member_t
SET m_status = 1
WHERE m_idx = #{m_idx}
</update>


<!-- 댓글 삭제-->
<update id="qna_comm_del" parameterType="String">
UPDATE charging.bbs_t
SET b_status = 1
WHERE b_idx = #{b_idx}
</update>

<!-- 댓글 삭제 (로그)-->
<insert id="qna_comm_del2" parameterType="com.kdt.finalproject.vo.BbslogVO">
INSERT INTO charging.bbslog(m_idx, b_idx, bl_date, bl_type)
VALUES(#{m_idx}, #{b_idx}, NOW(), 1)
</insert>

<!-- 공지 삭제-->
<update id="notice_del" parameterType="String">
UPDATE charging.bbs_t
SET b_status = 1
WHERE b_idx = #{b_idx}
</update>

<!-- 공지 삭제 (로그)-->
<insert id="notice_del2" parameterType="com.kdt.finalproject.vo.BbslogVO">
INSERT INTO charging.bbslog(m_idx, b_idx, bl_date, bl_type)
VALUES(#{m_idx}, #{b_idx}, NOW(), 1)
</insert>

<!-- 문의 삭제-->
<update id="qna_del" parameterType="String">
UPDATE charging.bbs_t
SET b_status = 1
WHERE b_idx = #{b_idx}
</update>

<!-- 문의 삭제 (로그)-->
<insert id="qna_del2" parameterType="com.kdt.finalproject.vo.BbslogVO">
INSERT INTO charging.bbslog(m_idx, b_idx, bl_date, bl_type)
VALUES(#{m_idx}, #{b_idx}, NOW(), 1)
</insert>

<!-- 리뷰 공개 비공개 변경 -->
<update id="review_change" parameterType="Map">
UPDATE charging.bbs_t
SET b_val1 = #{b_val1}
WHERE b_idx = #{b_idx}
</update>

<!--서비스 상태 변경-->
<update id="car_status1" parameterType="String">
  UPDATE service_use
  SET su_val2 = 1
  WHERE su_val5 = #{su_val5} 
</update>

<insert id="car_status2" parameterType="Map">
  INSERT INTO service_use(s_idx, c_idx, su_date, su_status, su_type, su_percent, su_payment, su_payinfo, su_sprice, su_cprice, su_val1, su_val2, su_val3, su_val4, su_val5)
  VALUES(#{s_idx},#{c_idx},NOW(),#{su_status},1,#{su_percent},#{su_payment},#{su_payinfo},#{su_sprice},#{su_cprice},#{su_val1},0,#{su_val3},#{su_val4}, #{su_val5})
</insert>

<update id="car_status3" parameterType="String">
  UPDATE service_t
  SET s_status = 0
  WHERE s_idx  = #{s_idx}
</update>
<!--서비스 상태 변경-->


</mapper>