<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdt.finalproject.mapper.AdminMapper">

<!-- select -->
<!--전체 회원 리스트-->
<select id="member" resultType="com.kdt.finalproject.vo.MemVO" parameterType="Map">
SELECT * FROM (
  SELECT @RN:=@RN+1 as r_num,a.* FROM(
    SELECT * FROM charging.member_t
      <where>
          <if test="searchType != null and searchValue != null">
              <choose>
                  <when test="searchType == 0">
                      m_name LIKE concat('%',#{searchValue},'%')
                  </when>
                  <when test="searchType == 1">
                      m_email LIKE concat('%',#{searchValue},'%')
                  </when>
                  <when test="searchType == 2">
                      m_phone LIKE concat('%',#{searchValue},'%')
                  </when>
              </choose>
          </if>
      </where>
    ORDER BY m_idx DESC
  ) a, (SELECT @RN:=0) as r
) a WHERE a.r_num BETWEEN #{begin} AND #{end}
</select>

<select id="member_count" parameterType="Map" resultType="int">
SELECT COUNT(*) FROM charging.member_t
<where>
  <if test="searchType != null and searchValue != null">
    <choose>
      <when test="searchType == 0">
          m_name LIKE concat('%',#{searchValue},'%')
      </when>
      <when test="searchType == 1">
          m_email LIKE concat('%',#{searchValue},'%')
      </when>
      <when test="searchType == 2">
          m_phone LIKE concat('%',#{searchValue},'%')
      </when>
    </choose>
  </if>
</where>
</select>
<!--전체 회원 리스트-->

<!--회원 정보 상세보기-->
<select id="member_view" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t
WHERE m_idx = #{m_idx}
</select>



<!--공지사항 리스트-->
<select id="notice_all" resultMap="map1" parameterType="map">
SELECT * FROM (
  SELECT @RN:=@RN+1 as r_num,a.* FROM(
    SELECT * FROM charging.bbs_t 
    WHERE (b_type = 0 OR b_type = 4) AND b_status = 0
      <if test="searchType != null and searchValue != null">
        <choose>
          <when test="searchType == 0">
              AND b_title LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 1">
              AND b_content LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 2">
              AND (b_content LIKE concat('%',#{searchValue},'%') OR b_title LIKE concat('%',#{searchValue},'%'))
          </when>
        </choose>
      </if>
    ORDER BY b_idx DESC
  ) a, (SELECT @RN:=0) as r
) a WHERE a.r_num BETWEEN #{begin} AND #{end}
</select>

<resultMap type="com.kdt.finalproject.vo.BbsVO" id="map1">
  <id property="b_idx" column="b_idx"/>
  <association property="bbslog" javaType="com.kdt.finalproject.vo.BbslogVO" select="notice_log" column="b_idx"/>
</resultMap>

<select id="notice_log" parameterType="String" resultType="com.kdt.finalproject.vo.BbslogVO">
SELECT * FROM charging.bbslog
WHERE b_idx = #{b_idx} AND bl_type = 0
</select>

<!-- (Paging) 공지사항 총 갯수 -->
<select id="notice_count" parameterType="Map" resultType="int">
SELECT COUNT(*) FROM charging.bbs_t
    WHERE (b_type = 0 OR b_type = 4) AND b_status = 0
      <if test="searchType != null and searchValue != null">
        <choose>
          <when test="searchType == 0">
              AND b_title LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 1">
              AND b_content LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 2">
              AND (b_content LIKE concat('%',#{searchValue},'%') OR b_title LIKE concat('%',#{searchValue},'%'))
          </when>
        </choose>
      </if>
</select>
<!--공지사항 리스트-->




<!-- 공지 상세 보기 -->
<resultMap id="notice_view_map" type="com.kdt.finalproject.vo.BbsVO">
  <id property="b_idx" column="b_idx"/>
  <association property="bbslog" javaType="com.kdt.finalproject.vo.BbslogVO" select="notice_view_log" column="b_idx"/>
</resultMap>

<select id="notice_view" parameterType="String" resultMap="notice_view_map">
SELECT * FROM charging.bbs_t
WHERE b_idx = #{b_idx}
</select>

<select id="notice_view_log" parameterType="String" resultType="com.kdt.finalproject.vo.BbslogVO">
SELECT * FROM charging.bbslog
WHERE b_idx = #{b_idx} AND bl_type = 0
</select>
<!-- 공지 상세 보기 -->


<!--문의 리스트-->
<select id="qna" parameterType="Map" resultMap="qna_map">
SELECT * FROM (
  SELECT @RN:=@RN+1 as r_num,a.* FROM(
    SELECT * FROM charging.bbs_t 
    WHERE (b_status = 0 AND b_type = 2)
          <if test="searchType != null and searchValue != null">
            <choose>
              <when test="searchType == 0">
                  AND b_title LIKE concat('%',#{searchValue},'%')
              </when>
              <when test="searchType == 1">
                  AND b_content LIKE concat('%',#{searchValue},'%')
              </when>
              <when test="searchType == 2">
              AND (b_content LIKE concat('%',#{searchValue},'%') OR b_title LIKE concat('%',#{searchValue},'%'))
          </when>
            </choose>
          </if>
    ORDER BY b_idx DESC
  ) a, (SELECT @RN:=0) as r
) a WHERE a.r_num BETWEEN #{begin} AND #{end}
</select>

<resultMap type="com.kdt.finalproject.vo.BbsVO" id="qna_map">
  <id property="b_idx" column="b_idx"/>
  <association property="bbslog" javaType="com.kdt.finalproject.vo.BbslogVO" select="qna_log1" column="b_idx"/>
  <collection property="c_list" ofType="com.kdt.finalproject.vo.BbsVO" select="qna_comm_count" column="b_idx"/>
</resultMap>

<select id="qna_log1" parameterType="String" resultMap="qna_map2">
SELECT * FROM charging.bbslog
WHERE b_idx = #{b_idx} AND bl_type = 0
</select>

<select id="qna_comm_count" parameterType="String" resultType="com.kdt.finalproject.vo.BbsVO">
  SELECT * FROM charging.bbs_t 
  where
  b_status = 0 AND b_target = #{idx}
</select>

<resultMap type="com.kdt.finalproject.vo.BbslogVO" id="qna_map2">
  <id property="m_idx" column="m_idx"/>
  <association property="mvo" javaType="com.kdt.finalproject.vo.MemVO" select="qna_log2" column="m_idx"/>
</resultMap>

<select id="qna_log2" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t
WHERE m_idx = #{m_idx}
</select>

<select id="qna_count" resultType="int">
SELECT COUNT(*) FROM charging.bbs_t 
  WHERE (b_status = 0 AND b_type = 2)
    <if test="searchType != null and searchValue != null">
      <choose>
        <when test="searchType == 0">
            AND b_title LIKE concat('%',#{searchValue},'%')
        </when>
        <when test="searchType == 1">
            AND b_content LIKE concat('%',#{searchValue},'%')
        </when>
        <when test="searchType == 2">
              AND (b_content LIKE concat('%',#{searchValue},'%') OR b_title LIKE concat('%',#{searchValue},'%'))
          </when>
      </choose>
    </if>
</select>
<!--문의 리스트-->


<!-- 문의 상세보기 -->
<resultMap id="qna_view_map" type="com.kdt.finalproject.vo.BbsVO">
  <id property="b_idx" column="b_idx"/>
  <association property="bbslog" javaType="com.kdt.finalproject.vo.BbslogVO" select="qna_view_log" column="b_idx"/>
</resultMap>

<resultMap id="qna_view_map2" type="com.kdt.finalproject.vo.BbslogVO">
  <id property="m_idx" column="m_idx"/>
  <association property="mvo" javaType="com.kdt.finalproject.vo.MemVO" select="qna_view_log2" column="m_idx"/>
</resultMap>

<select id="qna_view" parameterType="String" resultMap="qna_view_map">
SELECT * FROM charging.bbs_t
WHERE b_idx = #{b_idx}
</select>

<select id="qna_view_log" parameterType="String" resultMap="qna_view_map2">
SELECT * FROM charging.bbslog
WHERE b_idx = #{b_idx} AND bl_type = 0
</select>

<select id="qna_view_log2" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t
WHERE m_idx = #{m_idx}
</select>
<!-- 문의 상세보기 -->


<!-- 댓글 보기 -->
<resultMap id="comm_map" type="com.kdt.finalproject.vo.BbsVO">
  <id property="b_idx" column="b_idx"/>
  <association property="bbslog" javaType="com.kdt.finalproject.vo.BbslogVO" select="comm_log" column="b_idx"/>
</resultMap>

<resultMap id="comm_map2" type="com.kdt.finalproject.vo.BbslogVO">
  <id property="m_idx" column="m_idx"/>
  <association property="mvo" javaType="com.kdt.finalproject.vo.MemVO" select="comm_log2" column="m_idx"/>
</resultMap>

<select id="qna_comm" parameterType="String" resultMap="comm_map">
SELECT * FROM charging.bbs_t 
WHERE b_target = #{b_idx} AND b_status = 0
</select>

<select id="comm_log" parameterType="String" resultMap="comm_map2">
SELECT * FROM charging.bbslog
WHERE b_idx = #{b_idx} AND bl_type = 0
</select>

<select id="comm_log2" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t
WHERE m_idx = #{m_idx}
</select>
<!-- 댓글 보기 -->


<!-- insert -->

<!-- 공지 작성 -->
<insert id="notice_write_ok" parameterType="Map" useGeneratedKeys="true" keyProperty="b_idx" keyColumn="b_idx">
INSERT INTO charging.bbs_t(b_title, b_content, b_type, b_status, b_to, b_hit, b_ip, b_oriname, b_filename, b_val1)
VALUES(#{b_title}, #{b_content}, #{b_type}, 0, #{b_to}, 0, #{b_ip}, #{b_oriname}, #{b_filename},0)
</insert>

<!-- 공지 작성 (로그)-->
<insert id="notice_write_ok2" parameterType="Map">
INSERT INTO charging.bbslog(m_idx, b_idx, bl_date, bl_type)
VALUES(#{m_idx}, #{b_idx}, NOW(), 0)
</insert>


<!--문의 댓글 작성-->
<insert id="qna_comm_write" parameterType="com.kdt.finalproject.vo.BbsVO" useGeneratedKeys="true" keyProperty="b_idx" keyColumn="b_idx">
INSERT INTO charging.bbs_t(b_title, b_content, b_target, b_type, b_status, b_ip, b_hit)
VALUES(0, #{b_content}, #{b_target}, 3, 0, #{b_ip}, 0)
</insert>

<!-- 문의 댓글 작성 (로그)-->
<insert id="qna_comm_write2" parameterType="com.kdt.finalproject.vo.BbslogVO">
INSERT INTO charging.bbslog(m_idx, b_idx, bl_date, bl_type)
VALUES(#{m_idx}, #{b_idx}, NOW(), 0)
</insert>

<!-- update -->

<!-- 공지 수정-->
<update id="notice_edit" parameterType="com.kdt.finalproject.vo.BbsVO">
UPDATE charging.bbs_t
  <trim prefix="SET" suffixOverrides=",">
    b_title = #{b_title},
    b_content = #{b_content},	
    b_type = #{b_type},	
    b_to = #{b_to},	
    b_ip = #{b_ip},	
      <if test="b_filename != null">
        b_filename = #{b_filename},
        b_oriname = #{b_oriname}
      </if>
  </trim>
WHERE b_idx = #{b_idx}
</update>

<!-- 공지 수정 (로그)-->
<insert id="notice_edit2" parameterType="com.kdt.finalproject.vo.BbslogVO">
INSERT INTO charging.bbslog(m_idx, b_idx, bl_date, bl_type)
VALUES(#{m_idx}, #{b_idx}, NOW(), 1)
</insert>


<!--공지 비공개 변경-->
<update id="notice_changeStatus1" parameterType="String">
UPDATE charging.bbs_t
SET b_val1 = 1
WHERE b_idx = #{b_idx}
</update>

<!--공지 공개 변경-->
<update id="notice_changeStatus0" parameterType="String">
UPDATE charging.bbs_t
SET b_val1 = 0
WHERE b_idx = #{b_idx}
</update>

<!--회원 탈퇴-->
<update id="member_out" parameterType="String">
UPDATE charging.member_t
SET m_status = 1
WHERE m_idx = #{m_idx}
</update>


<!-- 댓글 삭제-->
<update id="qna_comm_del" parameterType="String">
UPDATE charging.bbs_t
SET b_status = 1
WHERE b_idx = #{b_idx}
</update>

<!-- 댓글 삭제 (로그)-->
<insert id="qna_comm_del2" parameterType="com.kdt.finalproject.vo.BbslogVO">
INSERT INTO charging.bbslog(m_idx, b_idx, bl_date, bl_type)
VALUES(#{m_idx}, #{b_idx}, NOW(), 1)
</insert>

<!-- 문의 삭제-->
<update id="notice_del" parameterType="String">
UPDATE charging.bbs_t
SET b_status = 1
WHERE b_idx = #{b_idx}
</update>

<!-- 문의 삭제 (로그)-->
<insert id="notice_del2" parameterType="com.kdt.finalproject.vo.BbslogVO">
INSERT INTO charging.bbslog(m_idx, b_idx, bl_date, bl_type)
VALUES(#{m_idx}, #{b_idx}, NOW(), 1)
</insert>

</mapper>