<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdt.finalproject.mapper.EdongsikMapper">

<!-- select -->
<select id="init" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t
WHERE m_idx = '1'
</select>

<!-- <select id="getSw" parameterType="String" resultType="com.kdt.finalproject.vo.CwriteVO">
  SELECT * FROM charging.car_write
  WHERE m_idx = #{m_idx}
</select> -->

<resultMap type="com.kdt.finalproject.vo.CwriteVO" id="map1">
  	<result column="c_idx" property="c_idx"/>
  	<association property="cvo" javaType="com.kdt.finalproject.vo.CarVO" select="cvo" column="c_idx"/>
</resultMap>

<select id="carList" resultMap="map1" parameterType="String">
  SELECT * FROM charging.car_write
  WHERE m_idx = #{m_idx} AND cw_type = 0
</select>

<select id="carList2" resultType="com.kdt.finalproject.vo.CarVO" parameterType="String">
	SELECT * FROM charging.car_t
  WHERE c_idx = #{c_idx}
</select>



 
<select id="getEdongsik" resultType="com.kdt.finalproject.vo.ServiceVO" parameterType="String">
  SELECT * FROM charging.service_t
  WHERE s_type = 1 AND s_state = #{state}
</select>




<resultMap id="map2" type="com.kdt.finalproject.vo.SwriteVO">
  <result column="m_idx" property="m_idx"/>
  <result column="s_idx" property="s_idx"/>
  <result column="c_idx" property="c_idx"/>
  <association property="mvo" column="m_idx" javaType="com.kdt.finalproject.vo.MemVO" select="mvo"></association>
  <association property="svo" column="s_idx" javaType="com.kdt.finalproject.vo.ServiceVO" select="svo"></association>
  <association property="cvo" column="c_idx" javaType="com.kdt.finalproject.vo.CarVO" select="cvo"></association>
</resultMap>

<select id="radiusInfo" resultMap="map2" parameterType="String">
  SELECT * FROM charging.service_write
  WHERE s_idx = #{s_idx}
</select>

<select id="mvo" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t WHERE m_idx = #{m_idx}
</select>

<select id="svo" parameterType="String" resultType="com.kdt.finalproject.vo.ServiceVO">
SELECT * FROM charging.service_t WHERE s_idx = #{s_idx}
</select>

<select id="cvo" parameterType="String" resultType="com.kdt.finalproject.vo.CarVO">
SELECT * FROM charging.car_t WHERE c_idx = #{c_idx}
</select>

<select id="carList3" resultType="com.kdt.finalproject.vo.CarVO" parameterType="String">
	SELECT * FROM charging.car_t
  WHERE c_idx = #{c_idx}
</select>


<!-- insert -->


<!-- update -->
</mapper>