<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdt.finalproject.mapper.EdongsikMapper">

<!-- result -->

<resultMap type="com.kdt.finalproject.vo.CwriteVO" id="map1">
  	<result column="c_idx" property="c_idx"/>
  	<association property="cvo" javaType="com.kdt.finalproject.vo.CarVO" select="cvo" column="c_idx"/>
</resultMap>

<select id="carList" resultMap="map1" parameterType="String">
  SELECT * FROM charging.car_write
  WHERE m_idx = #{m_idx} AND cw_type = 0
</select>

<select id="carList2" resultType="com.kdt.finalproject.vo.CarVO" parameterType="String">
	SELECT * FROM charging.car_t
  WHERE c_idx = #{c_idx}
</select>

 
<select id="getEdongsik" resultType="com.kdt.finalproject.vo.ServiceVO" parameterType="String">
  SELECT * FROM charging.service_t
  WHERE s_type = 1 AND s_state = #{state}
</select>


<resultMap id="map2" type="com.kdt.finalproject.vo.SwriteVO">
  <result column="m_idx" property="m_idx"/>
  <result column="s_idx" property="s_idx"/>
  <result column="c_idx" property="c_idx"/>
  <association property="mvo" column="m_idx" javaType="com.kdt.finalproject.vo.MemVO" select="mvo"></association>
  <association property="svo" column="s_idx" javaType="com.kdt.finalproject.vo.ServiceVO" select="svo"></association>
  <association property="cvo" column="c_idx" javaType="com.kdt.finalproject.vo.CarVO" select="cvo"></association>
</resultMap>

<select id="radiusInfo" resultMap="map2" parameterType="String">
  SELECT * FROM charging.service_write
  WHERE s_idx = #{s_idx}
</select>

<select id="mvo" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t WHERE m_idx = #{m_idx}
</select>

<select id="svo" parameterType="String" resultType="com.kdt.finalproject.vo.ServiceVO">
SELECT * FROM charging.service_t WHERE s_idx = #{s_idx}
</select>

<select id="cvo" parameterType="String" resultType="com.kdt.finalproject.vo.CarVO">
SELECT * FROM charging.car_t WHERE c_idx = #{c_idx}
</select>

<select id="movo" parameterType="String" resultType="com.kdt.finalproject.vo.ModelVO" >
SELECT * FROM charging.model_t WHERE mo_idx = #{mo_idx}
</select>

<select id="carList3" resultType="com.kdt.finalproject.vo.CarVO" parameterType="String">
	SELECT * FROM charging.car_t
  WHERE c_idx = #{c_idx}
</select>

<select id="getOrder" resultType="com.kdt.finalproject.vo.SuseVO" parameterType="String">
  SELECT * FROM charging.service_use
  WHERE su_idx = #{su_idx}
</select>

<resultMap type="com.kdt.finalproject.vo.CwriteVO" id="map4">
  	<id column="c_idx" property="c_idx"/>
  	<collection property="suvo" ofType="com.kdt.finalproject.vo.SuseVO" select="getOrderList2" column="c_idx"/>
</resultMap>

<select id="getOrderList" resultMap="map4" parameterType="String">
  SELECT * FROM charging.car_write
  WHERE m_idx = #{m_idx}
</select>

<select id="getOrderList2" resultType="com.kdt.finalproject.vo.SuseVO" parameterType="String">
	SELECT * FROM charging.service_use
  WHERE c_idx = #{c_idx}
</select>

<!-- 페이징이 들어간 주문내역-->
<select id="getMyOderList" parameterType="Map" resultType="com.kdt.finalproject.vo.SuseVO">
  SELECT * FROM (
  SELECT @RN:=@RN+1 as r_num,a.* FROM(  
	SELECT * FROM charging.service_use
	  WHERE c_idx IN (SELECT c_idx FROM charging.car_write
	  WHERE m_idx = #{m_idx} and cw_type = 0)
      ORDER BY su_idx DESC
	) a, (SELECT @RN:=0) as r
) a WHERE a.r_num BETWEEN #{begin} AND #{end}
</select>

<!-- 총 게시물의 수를 반환하는 SELECT -->
  <select id="totalCount" resultType="int">
  	SELECT COUNT(*) FROM service_use
  </select>

  <select id="totalCountByM_idx" resultType="int" parameterType="String">
  	SELECT COUNT(*) FROM charging.service_use
	  WHERE c_idx IN (SELECT c_idx FROM charging.car_write
	  WHERE m_idx = #{m_idx} and cw_type = 0)
  </select>

  <select id="getBidx" resultType="com.kdt.finalproject.vo.BbsVO" parameterType="String">
  	SELECT * FROM charging.bbs_t
    WHERE b_val2 = #{su_idx} AND b_type = 1 AND b_status = 0
  </select>

  <select id="getModel" resultType="com.kdt.finalproject.vo.ModelVO" parameterType="String">
  	SELECT * FROM charging.model_t
    WHERE mo_idx = #{mo_idx}
  </select>



<!-- insert -->
  <insert id="addReview" parameterType="Map">
    INSERT INTO charging.bbs_t(b_content, b_score, b_type, b_status, b_val2, b_val1)
    VALUES(#{reviewContent}, #{selectedValue}, 1, 0, #{su_idx}, 0)
  </insert>

  <insert id="addReviewLog" parameterType="Map">
    INSERT INTO charging.bbslog(b_idx, m_idx, bl_date, bl_type)
    VALUES(#{b_idx}, #{m_idx}, now(), 0)
  </insert>


    
<!-- update -->
</mapper>