<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdt.finalproject.mapper.MypageMapper">


  <resultMap id="map" type="com.kdt.finalproject.vo.CwriteVO">
    <id property="cw_idx" column="cw_idx"/>
    <association property="cvo" javaType="com.kdt.finalproject.vo.CarVO"
      select="get_car" column="c_idx"/>
  </resultMap>

  <resultMap id="map2" type="com.kdt.finalproject.vo.BbslogVO">
    <id property="bl_idx" column="bl_idx"/>
    <association property="bvo" javaType="com.kdt.finalproject.vo.BbsVO"
      select="search_q" column="b_idx"/>
  </resultMap>

  <resultMap id="map3" type="com.kdt.finalproject.vo.BbslogVO">
    <id property="bl_idx" column="bl_idx"/>
    <association property="bvo" javaType="com.kdt.finalproject.vo.BbsVO"
      select="search_r" column="b_idx"/>
  </resultMap>

  <resultMap id="map4" type="com.kdt.finalproject.vo.SwriteVO">
    <id property="sw_idx" column="sw_idx"/>
    <association property="svo" javaType="com.kdt.finalproject.vo.ServiceVO"
      select="search_s" column="s_idx"/>
  </resultMap>

  <resultMap id="map5" type="com.kdt.finalproject.vo.SuseVO">
    <id property="su_idx" column="su_idx"/>
    <result property="s_idx" column="s_idx"/>
    <result property="c_idx" column="c_idx"/>
    <association property="svo" javaType="com.kdt.finalproject.vo.ServiceVO"
      select="search_s" column="s_idx"/>
    <association property="cvo" javaType="com.kdt.finalproject.vo.CarVO"
      select="get_car" column="c_idx"/>
  </resultMap>
  

  <!-- select -->

  <select id="getMemberByIdx" resultType="com.kdt.finalproject.vo.MemVO" parameterType="String">
        SELECT * FROM member_t 
        WHERE m_idx = #{mIdx}
    </select>


  <select id="search_cw_list" resultMap="map" parameterType="String">
    SELECT * FROM car_write
    WHERE m_idx = #{m_idx} and cw_type = 0 and cw_state = 0
  </select>

  <select id="search_bl_list" resultMap="map2" parameterType="String">
    SELECT * FROM bbslog
    WHERE m_idx = #{m_idx}
  </select>

  <select id="search_bl_list2" resultMap="map3" parameterType="String">
    SELECT * FROM bbslog
    WHERE m_idx = #{m_idx}
  </select>

  <select id="search_su_list" resultMap="map4" parameterType="String">
    SELECT * FROM service_use
    WHERE c_idx = #{c_idx}
  </select>

  <select id="get_car" resultType="com.kdt.finalproject.vo.CarVO" parameterType="String">
    SELECT * FROM car_t
    WHERE c_idx = #{c_idx}
  </select>

  <select id="search_q" resultType="com.kdt.finalproject.vo.BbsVO" parameterType="String">
  select * from bbs_t
  where b_idx = #{b_idx} and b_type = 2
  </select>

  <select id="search_r" resultType="com.kdt.finalproject.vo.BbsVO" parameterType="String">
  select * from bbs_t
  where b_idx = #{b_idx} and b_type = 1
  </select>

  <select id="search_s" resultType="com.kdt.finalproject.vo.ServiceVO" parameterType="String">
  select * from service_t
  where s_idx = #{s_idx}

  </select>

  <!-- 회원 서비스 이용 내역 -->
  <select id="use_service_list" resultMap="map5" parameterType="String">
    SELECT * FROM charging.service_use
    WHERE c_idx IN (SELECT c_idx FROM charging.car_write
		    WHERE m_idx = #{m_idx} AND cw_type = 0)
  </select>





  <!-- insert -->
  <insert id="addCar" parameterType="com.kdt.finalproject.vo.CarVO" useGeneratedKeys="true" keyProperty="c_idx">
      insert into car_t (c_num, c_name, c_type, c_chargetype, c_state, c_city, c_addr1) 
      values (#{c_num}, #{c_name}, #{c_type}, #{c_chargetype}, #{c_state}, #{c_city}, #{c_addr1}) 
  </insert>

  <insert id="addCarWrite" parameterType="com.kdt.finalproject.vo.CwriteVO">
      insert into car_write (cw_type, m_idx, c_idx, cw_date, cw_state)
      values (0, #{m_idx}, #{c_idx}, now(), 0)
  </insert>

  <!-- update -->
  <update id="updateCar" parameterType="com.kdt.finalproject.vo.CarVO" useGeneratedKeys="true" keyProperty="c_idx">
      UPDATE car_t
      SET c_num = #{c_num}, 
        c_name = #{c_name}, 
        c_type = #{c_type}, 
        c_chargetype = #{c_chargetype}, 
        c_state = #{c_state}, 
        c_city = #{c_city}, 
        c_addr1 = #{c_addr1}
      WHERE c_idx = #{c_idx}
    </update>

  <update id="updateCarWrite" parameterType="com.kdt.finalproject.vo.CwriteVO">
      UPDATE car_write
      SET cw_type = 1
      WHERE c_idx = #{c_idx} and m_idx = #{m_idx} and cw_state = 0
  </update>

  <update id="updateMember" parameterType="com.kdt.finalproject.vo.MemVO">
        UPDATE member_t
        
          <trim prefix="SET" suffixOverrides=","> 
            <if test="m_name != null">
              m_name = #{m_name}, 
            </if>
            <if test="m_phone != null">
              m_phone = #{m_phone},
            </if>
            <if test="m_address != null">
              m_address = #{m_address},
            </if>
            <if test="m_atoken != null">
              m_atoken = #{m_atoken},
            </if>
            <if test="m_rtoken != null">
              m_rtoken = #{m_rtoken}, 
            </if>
            <if test="m_payment != null">
              m_payment = #{m_payment},
            </if>
          </trim>
        
        WHERE m_idx = #{m_idx}
    </update>

  <update id="deleteCar" parameterType="com.kdt.finalproject.vo.CwriteVO">
    UPDATE car_write
    SET cw_state = 1
    WHERE cw_state = 0 and c_idx = #{c_idx} and m_idx = #{m_idx}
  </update>


</mapper>