<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdt.finalproject.mapper.SupportMapper">

<!-- select -->

<!-- ~~~~~~~~~~~~~~~~~~~~~~~공지 시작~~~~~~~~~~~~~~~~~~~~~~~ -->

<resultMap type="com.kdt.finalproject.vo.BbsVO" id="map1">
  <id property="b_idx" column="b_idx"/>
  <association property="bbslog" javaType="com.kdt.finalproject.vo.BbslogVO" select="notice_log" column="b_idx"/>
</resultMap>

<!--사업자가 볼 수 있는 공지-->
<select id="notice_all" parameterType="map" resultMap="map1">
SELECT * FROM (
  SELECT @RN:=@RN+1 as r_num,a.* FROM(
    SELECT * FROM charging.bbs_t 
    WHERE (b_status = 0 AND b_type = 0)
      <if test="searchType != null and searchValue != null">
        <choose>
          <when test="searchType == 0">
              AND b_title LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 1">
              AND b_content LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 2">
              AND (b_content LIKE concat('%',#{searchValue},'%') OR b_title LIKE concat('%',#{searchValue},'%'))
          </when>
        </choose>
      </if>
    ORDER BY b_idx DESC
  ) a, (SELECT @RN:=0) as r
) a WHERE a.r_num BETWEEN #{begin} AND #{end}
</select>

<!--개인이 볼 수 있는 공지-->
<select id="notice_user" parameterType="map" resultMap="map1">
SELECT * FROM (
  SELECT @RN:=@RN+1 as r_num,a.* FROM(
SELECT * FROM charging.bbs_t
  WHERE (b_to = 0 AND b_status = 0 AND b_type = 0)
    <if test="searchType != null and searchValue != null">
      <choose>
        <when test="searchType == 0">
            AND b_title LIKE concat('%',#{searchValue},'%')
        </when>
        <when test="searchType == 1">
            AND b_content LIKE concat('%',#{searchValue},'%')
        </when>
        <when test="searchType == 2">
              AND (b_content LIKE concat('%',#{searchValue},'%') OR b_title LIKE concat('%',#{searchValue},'%'))
          </when>
      </choose>
    </if>
ORDER BY b_idx DESC
  ) a, (SELECT @RN:=0) as r
) a WHERE a.r_num BETWEEN #{begin} AND #{end}
</select>

<!--등록일 가져오기-->
<select id="notice_log" parameterType="int" resultType="com.kdt.finalproject.vo.BbslogVO">
SELECT * FROM charging.bbslog
WHERE b_idx = #{b_idx} AND bl_type = 0
</select>


<!-- (Paging) 사업자가 볼 수 있는 공지 -->
<select id="support_notice_count1" resultType="int">
SELECT COUNT(*) FROM charging.bbs_t
WHERE (b_status = 0 AND b_type = 0)
  <if test="searchType != null and searchValue != null">
    <choose>
      <when test="searchType == 0">
          AND b_title LIKE concat('%',#{searchValue},'%')
      </when>
      <when test="searchType == 1">
          AND b_content LIKE concat('%',#{searchValue},'%')
      </when>
      <when test="searchType == 2">
              AND (b_content LIKE concat('%',#{searchValue},'%') OR b_title LIKE concat('%',#{searchValue},'%'))
          </when>
    </choose>
  </if>
</select>

<!-- (Paging) 개인이 볼 수 있는 공지 -->
<select id="support_notice_count2" resultType="int">
SELECT COUNT(*) FROM charging.bbs_t 
  WHERE (b_to = 0 AND b_status = 0 AND b_type = 0)
    <if test="searchType != null and searchValue != null">
      <choose>
        <when test="searchType == 0">
            AND b_title LIKE concat('%',#{searchValue},'%')
        </when>
        <when test="searchType == 1">
            AND b_content LIKE concat('%',#{searchValue},'%')
        </when>
        <when test="searchType == 2">
              AND (b_content LIKE concat('%',#{searchValue},'%') OR b_title LIKE concat('%',#{searchValue},'%'))
          </when>
          <when test="searchType == 2">
              AND (b_content LIKE concat('%',#{searchValue},'%') OR b_title LIKE concat('%',#{searchValue},'%'))
          </when>
      </choose>
    </if>
</select>

<!-- 공지 보기 -->
<select id="notice_view" parameterType="String" resultType="com.kdt.finalproject.vo.BbsVO">
SELECT * FROM charging.bbs_t
WHERE b_idx = #{b_idx}
</select>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~공지 끝~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- 자주하는 질문 보기-->
<select id="faq" resultType="com.kdt.finalproject.vo.BbsVO">
SELECT * FROM charging.bbs_t
WHERE b_type = 4 AND b_status = 0
</select>

<resultMap type="com.kdt.finalproject.vo.BbsVO" id="qnamap">
  <id property="b_idx" column="b_idx"/>
  <association property="bbslog" javaType="com.kdt.finalproject.vo.BbslogVO" select="qna_log" column="b_idx"/>
  <collection property="c_list" ofType="com.kdt.finalproject.vo.BbsVO" select="comm_list" column="b_idx"/>
</resultMap>

<resultMap type="com.kdt.finalproject.vo.BbslogVO" id="namemap">
  <id property="m_idx" column="m_idx"/>
  <association property="mvo" javaType="com.kdt.finalproject.vo.MemVO" select="qna_name" column="m_idx"/>
</resultMap>

<!--문의 게시판 글 목록-->
<select id="qna" parameterType="Map" resultMap="qnamap">
SELECT * FROM (
  SELECT @RN:=@RN+1 as r_num,a.* FROM(
  SELECT * FROM charging.bbs_t 
  <where>
  b_status = 0 AND b_type = 2 
        <if test="searchType != null and searchValue != null">
        AND
          <choose>
            <when test="searchType == 0">
                b_title LIKE concat('%',#{searchValue},'%')
            </when>
            <when test="searchType == 1">
                b_content LIKE concat('%',#{searchValue},'%')
            </when>
            <when test="searchType == 2">
                b_content LIKE concat('%',#{searchValue},'%') OR b_title LIKE concat('%',#{searchValue},'%')
            </when>
          </choose>
        </if>
      </where>
  ORDER BY b_idx DESC
  ) a, (SELECT @RN:=0) as r
) a WHERE a.r_num BETWEEN #{begin} AND #{end}
</select>

<select id="comm_list" parameterType="String" resultType="com.kdt.finalproject.vo.BbsVO">
  SELECT * FROM charging.bbs_t 
  where
  b_status = 0 AND b_target = #{idx}
</select>

<select id="qna_log" parameterType="String" resultMap="namemap">
SELECT * FROM charging.bbslog
WHERE b_idx = #{b_idx} AND bl_type = 0 
</select>

<select id="qna_name" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t
WHERE m_idx = #{m_idx}
</select>

<!--문의 갯수-->
<select id="support_qna_count" resultType="int">
SELECT COUNT(*) FROM charging.bbs_t 
<where>
b_status = 0 AND b_type = 2
      <if test="searchType != null and searchValue != null">
      AND
        <choose>
          <when test="searchType == 0">
              b_title LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 1">
              b_content LIKE concat('%',#{searchValue},'%')
          </when>
          <when test="searchType == 2">
              b_content LIKE concat('%',#{searchValue},'%') OR b_title LIKE concat('%',#{searchValue},'%')
          </when>
        </choose>
      </if>
    </where>
</select>



<!-- 문의 보기 -->
<resultMap id="qna_view_map" type="com.kdt.finalproject.vo.BbsVO">
  <id property="b_idx" column="b_idx"/>
  <association property="bbslog" javaType="com.kdt.finalproject.vo.BbslogVO" select="qna_view_log" column="b_idx"/>
</resultMap>

<resultMap id="qna_view_map2" type="com.kdt.finalproject.vo.BbslogVO">
  <id property="m_idx" column="m_idx"/>
  <association property="mvo" javaType="com.kdt.finalproject.vo.MemVO" select="qna_view_log2" column="m_idx"/>
</resultMap>

<select id="qna_view" parameterType="String" resultMap="qna_view_map">
SELECT * FROM charging.bbs_t
WHERE b_idx = #{b_idx}
</select>

<select id="qna_view_log" parameterType="String" resultMap="qna_view_map2">
SELECT * FROM charging.bbslog
WHERE b_idx = #{b_idx}
</select>

<select id="qna_view_log2" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t
WHERE m_idx = #{m_idx}
</select>
<!-- 문의 보기 -->



<!-- 댓글 보기 -->
<resultMap id="comm_map" type="com.kdt.finalproject.vo.BbsVO">
  <id property="b_idx" column="b_idx"/>
  <association property="bbslog" javaType="com.kdt.finalproject.vo.BbslogVO" select="comm_log" column="b_idx"/>
</resultMap>

<resultMap id="comm_map2" type="com.kdt.finalproject.vo.BbslogVO">
  <id property="m_idx" column="m_idx"/>
  <association property="mvo" javaType="com.kdt.finalproject.vo.MemVO" select="comm_log2" column="m_idx"/>
</resultMap>

<select id="qna_comm" parameterType="String" resultMap="comm_map">
SELECT * FROM charging.bbs_t 
WHERE b_target = #{b_idx}
</select>

<select id="comm_log" parameterType="String" resultMap="comm_map2">
SELECT * FROM charging.bbslog
WHERE b_idx = #{b_idx}
</select>

<select id="comm_log2" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t
WHERE m_idx = #{m_idx}
</select>
<!-- 댓글 보기 -->


<!-- insert -->

<!-- 문의 작성 -->
<insert id="qna_write_ok" parameterType="Map" useGeneratedKeys="true" keyProperty="b_idx" keyColumn="b_idx">
INSERT INTO charging.bbs_t(b_title, b_content, b_type, b_status, b_hit, b_ip, b_oriname, b_filename, b_val1)
VALUES(#{b_title}, #{b_content}, 2, 0, 0, #{b_ip}, #{b_oriname}, #{b_filename}, #{b_val1})
</insert>

<!-- 문의 작성 (로그)-->
<insert id="qna_write_ok2" parameterType="Map">
INSERT INTO charging.bbslog(m_idx, b_idx, bl_date, bl_type)
VALUES(#{m_idx}, #{b_idx}, NOW(), 0)
</insert>


<!--문의 댓글 작성-->
<insert id="qna_comm_write" parameterType="com.kdt.finalproject.vo.BbsVO" useGeneratedKeys="true" keyProperty="b_idx" keyColumn="b_idx">
INSERT INTO charging.bbs_t(b_title, b_content, b_target, b_type, b_status, b_ip, b_hit)
VALUES(0, #{b_content}, #{b_target}, 3, 0, #{b_ip}, 0)
</insert>

<!-- 문의 댓글 작성 (로그)-->
<insert id="qna_comm_write2" parameterType="com.kdt.finalproject.vo.BbslogVO">
INSERT INTO charging.bbslog(m_idx, b_idx, bl_date, bl_type)
VALUES(#{m_idx}, #{b_idx}, NOW(), 0)
</insert>


<!-- update -->

<!--공지 조회수 증가-->
<update id="notice_hit" parameterType="String">
UPDATE charging.bbs_t
SET b_hit = b_hit+1
WHERE b_idx = #{b_idx}
</update>

<!--문의 조회수 증가-->
<update id="qna_hit" parameterType="String">
UPDATE charging.bbs_t
SET b_hit = b_hit+1
WHERE b_idx = #{b_idx}
</update>

<!-- 문의 수정-->
<update id="qna_edit" parameterType="com.kdt.finalproject.vo.BbsVO">
UPDATE charging.bbs_t
  <trim prefix="SET" suffixOverrides=",">
    b_title = #{b_title},
    b_content = #{b_content},	
    b_type = 2,	
    b_ip = #{b_ip},	
      <if test="b_filename != null">
        b_filename = #{b_filename},
        b_oriname = #{b_oriname}
      </if>
  </trim>
WHERE b_idx = #{b_idx}
</update>


</mapper>