<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdt.finalproject.mapper.TaksongMapper">

<resultMap id="rm1" type="com.kdt.finalproject.vo.SwriteVO">
<result column="m_idx" property="m_idx"/>
<result column="s_idx" property="s_idx"/>
<result column="c_idx" property="c_idx"/>
<association property="mvo" column="m_idx" javaType="com.kdt.finalproject.vo.MemVO" select="mvo"></association>
<association property="svo" column="s_idx" javaType="com.kdt.finalproject.vo.ServiceVO" select="svo"></association>
<association property="cvo" column="c_idx" javaType="com.kdt.finalproject.vo.CarVO" select="cvo"></association>
</resultMap>

<resultMap id="rm2" type="com.kdt.finalproject.vo.MemVO">
<result column="m_idx" property="m_idx"/>
<collection property="cw_list" column="m_idx" ofType="com.kdt.finalproject.vo.CwriteVO" select="cwselect"></collection>
</resultMap>

<resultMap id="rm3" type="com.kdt.finalproject.vo.CwriteVO">
<result column="c_idx" property="c_idx"/>
<association property="cvo" column="c_idx" javaType="com.kdt.finalproject.vo.CarVO" select="cvo"></association>
</resultMap>

<!-- select -->
<select id="selectmem" resultMap="rm2" parameterType="String">
SELECT * FROM charging.member_t WHERE m_idx = #{param}
</select>

<select id="guservice" parameterType="String" resultType="com.kdt.finalproject.vo.ServiceVO">
SELECT * FROM charging.service_t WHERE s_city = #{gu}
</select>

<select id="siservice" parameterType="String" resultType="com.kdt.finalproject.vo.ServiceVO">
SELECT * FROM charging.service_t WHERE s_state = #{si}
</select>

<select id="selectSWVO" parameterType="String" resultMap="rm1">
SELECT * FROM charging.service_write WHERE s_idx = #{param}
</select>

<select id="selectSWVOar" parameterType="String" resultMap="rm1">
SELECT * FROM charging.service_write WHERE m_idx = #{param}
</select>

<select id="seSwriteVO" parameterType="String" resultMap="rm1">
SELECT * FROM charging.service_write WHERE sw_idx = #{sw_idx}
</select>


<select id="mvo" parameterType="String" resultType="com.kdt.finalproject.vo.MemVO">
SELECT * FROM charging.member_t WHERE m_idx = #{param}
</select>

<!-- <select id="svo" parameterType="String" resultType="com.kdt.finalproject.vo.ServiceVO">
SELECT * FROM charging.service_t WHERE s_idx = #{param}
</select> -->

<select id="cvo" parameterType="String" resultType="com.kdt.finalproject.vo.CarVO">
SELECT * FROM charging.car_t WHERE c_idx = #{param}
</select>

<select id="cwselect" parameterType="String" resultMap="rm3">
SELECT * FROM charging.car_write WHERE m_idx = #{param}
</select>
<select id="carList" resultType="com.kdt.finalproject.vo.CarVO" parameterType="String">
	SELECT * FROM charging.car_t
  WHERE c_idx = #{c_idx}
</select>
<select id="getService" resultType="com.kdt.finalproject.vo.ServiceVO" parameterType="String">
  SELECT * FROM charging.service_t
  WHERE s_type = 0 AND s_state = #{state}
</select>

<!-- insert -->
<insert id="susein" parameterType="com.kdt.finalproject.vo.SuseVO">
 INSERT INTO charging.service_use(s_idx,c_idx,su_date,su_status,su_type,su_percent,su_payment,su_payinfo,su_sprice,su_cprice) 
 		VALUES(#{s_idx},#{c_idx},now(),#{su_status},#{su_type},#{su_percent},#{su_payment},#{su_payinfo},#{su_sprice},#{su_cprice})
</insert>

<insert id="servicevoin" parameterType="com.kdt.finalproject.vo.ServiceVO" useGeneratedKeys="true" keyProperty="s_idx">
 INSERT INTO charging.service_t(s_type,s_radius,s_status,s_mapx,s_mapy,s_state,s_city,s_val1) 
 		VALUES(#{s_type},#{s_radius},#{s_status},#{s_mapx},#{s_mapy},#{s_state},#{s_city},#{s_val1})
</insert>

<insert id="swritevoin" parameterType="com.kdt.finalproject.vo.SwriteVO">
 INSERT INTO charging.service_write(m_idx,s_idx,c_idx,sw_date,sw_status,sw_type,sw_val4) 
 		VALUES(#{m_idx},#{s_idx},#{c_idx},now(),0,0,0)
</insert>


<!-- update -->

<!--영석-->
<resultMap id="rm4" type="com.kdt.finalproject.vo.ServiceVO">
  <result column="s_idx" property="s_idx"/>
  <association property="suvo" column="s_idx" javaType="com.kdt.finalproject.vo.SuseVO" select="suvo"></association>
</resultMap>

<select id="suvo" parameterType="String" resultType="com.kdt.finalproject.vo.SuseVO">
  SELECT * FROM charging.service_use WHERE s_idx = #{param}
</select>

<select id="svo" parameterType="String" resultMap="rm4">
  SELECT * FROM charging.service_t WHERE s_idx = #{param}
</select>
</mapper>